<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WW39BS6');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>AtCoder Editorials</title>
</head>

<body style="padding-top:5rem">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WW39BS6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <nav class="navbar navbar-expand-md  navbar-dark bg-dark fixed-top">
        <a href="/" class="navbar-brand">AtCoder Editorials</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="/" class="nav-link">ホーム</a></li>
                <li class="nav-item active"><a href="/search" class="nav-link">問題</a></li>
                <li class="nav-item"><a href="/ranking/1" class="nav-link">ランキング</a></li>
                {% if current_user.is_authenticated==True %}
                <li class="nav-item"><a href="/user/{{current_user.id}}/1" class="nav-link">ユーザーページ</a></li>
                {%endif%}
            </ul>
            {% if current_user.is_authenticated==False %}
            <span class="navbar-text"><a href="/oauth/twitter" class="btn btn-info">ログイン</a></span> {%else%}
            <span class="navbar-text"><a href="/logout" class="btn btn-danger">ログアウト</a></span> {%endif%}
        </div>
    </nav>

    {%if contestname == None%}
    <div class="container-fluid">
        <h1>{{request.args.get('contestname','')}}</h1>
    </div>
    {%else%}
    <div class="row container-fluid">
        <div>
            <h1>{{contestname}}</h1>
        </div>
        <h4 class="col-1"></h4>
        {% if current_user.is_authenticated== True %}
        <div>
            <div class="twitter">
                <a href="//twitter.com/share" class="twitter-share-button" data-text="AtCoderEditorialsで{{contestname}}の解法を書きました！ " data-url="https://atcoder-editorials.herokuapp.com/search/{{contestname}}/1" data-lang="ja">
                </a>
            </div>
        </div>
        {%endif%}
    </div>
    {%endif%}


    <br> {% if current_user.is_authenticated== True %}
    <div id="submit-card">

        <div class="card col-6 border-0" style="cursor: pointer;">
            <h4 class="card-header text-white bg-info col-10" data-toggle="collapse" data-target="#sub1">
                投稿する
            </h4>
            <div class="collapse" id="sub1" data-parent="#submit-card" style="cursor: pointer;">
                <form action="/submited " method=' POST '>
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
                    <input type="text" placeholder="タイトル" name="title" style="width:535px" />
                    <br>
                    <input type="text" placeholder="URL" name="url" style="width:535px" />
                    <br>
                    <textarea placeholder=" 解説文 " name="description" style="white-space:pre; word-wrap:break-word;" rows=15 cols=57></textarea> {%if contestname==None%}
                    <button type="submit" class="btn btn-info" name="contestname" value="{{request.args.get('contestname ',' ')}}">投稿</button> {%else%}
                    <button type="submit" class="btn btn-info" name="contestname" value="{{contestname}}">投稿</button>{%endif%}

                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid">
        <h4>投稿をするにはログインが必要です</h4>
    </div>
    {%endif%}
    <br>


    <div>
        {% if editorials.items|length >0 %}

        <div id="editorial-card">

            {% for edit in editorials.items %}
            <div class="row container-fluid">
                {%if current_user.is_authenticated==True%} {% if flag[edit.id]==False%}
                <form>
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                    <button class="like_button btn btn-outline-info" name="id" value={{edit.id}}>{{edit.like}}いいね</button>
                </form>
                {%else%}
                <form>
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                    <button class="like_button btn btn-info" name="id" value={{edit.id}}>{{edit.like}}いいね</button>
                </form>
                {%endif%}{%else%}
                <button class="like_button_no_login btn btn-outline-info" name="id" value={{edit.id}}>{{edit.like}}いいね</button> {%endif%}
                <h5 class="col-1"></h5>
                <img src={{edit.user_image_url}} alt='No Image ' style="width:36px;height:36px;vertical-align:middle;">
                <a href="/user/{{edit.user_id}}/1" class="h4 text-dark" style="vertical-align:middle;">{{edit.username}}</a>
                <h5 class="col-1"></h5>
                {% if current_user.is_authenticated==True and edit.user_id==current_user.id%}
                <form>
                    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                    <button class="delete_button btn" style="color:tomato;" name="delete_id" value={{edit.id}}>削除</button>
                </form>
                {%endif%}
            </div>

            <div class="card col-6 border-0" style="cursor: pointer;">
                <h4 class="card-header text-light bg-light text-dark col-10" data-toggle="collapse" data-target="#edi{{loop.index}}">
                    {{edit.title}}
                </h4>

                <div class="collapse" id="edi{{loop.index}}" data-parent="#editorial-card">
                    {% if edit.url!=None%}
                    <a href={{edit.url}}>{{edit.url}}</a> {%endif%}
                </div>

                <div class="collapse" id="edi{{loop.index}}" data-parent="#editorial-card">
                    {% autoescape false %} {%if edit.description!=None%}
                    <br>
                    <p>{{edit.description}}</p>
                    {%endif%} {% endautoescape %}
                </div>
            </div>
            <br>
            <br> {% endfor %}
        </div>
        {%else%}
        <h4 class='container-fluid '>まだ投稿がありません</h4>
        <br> {%endif%}
    </div>

    <div class="container-fluid h4">

        <ul class="pagination">
            {% if editorials.has_prev %} {%if contestname==None%}
            <li class="page-item"><a class="page-link" href="{{ url_for('contest_get ', page=editorials.prev_num,contestname=request.args.get('contestname ',' '))}}">
        {%else%}
        <li class="page-item"><a class="page-link" href="{{ url_for('contest_get ', page=editorials.prev_num,contestname=contestname)}}">
        {%endif%}
        << 前のページ</a></li> {% endif %}{% if editorials.has_next %} {%if contestname==None%}
            <li class="page-item"><a class="page-link" href="{{ url_for('contest_get ', page=editorials.next_num,contestname=request.args.get('contestname ',' ')) }}">
                {%else%}
                <li class="page-item"><a  class="page-link" href="{{ url_for('contest_get ', page=editorials.next_num,contestname=contestname)}}">
        {%endif%}
         次のページ >></a></li>{% endif %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <script type="text/javascript">
        $('.like_button ').on('click ', function() {
            $(this).toggleClass('active ');

            if ($(this).hasClass('active ')) {
                var text = $(this).data('btn btn-info ');
            } else {
                var text = $(this).data('btn btn-outline-info ');
            }

            $(this).html(text);

            event.preventDefault();
            $.ajax({
                    url: '/like ',
                    type: 'post ',
                    dataType: 'text ',
                    data: {
                        id: $(this).val(),
                    },
                }).done(function(response) {
                    console.log('success ');
                })
                .fail(function() {
                    console.log('fail ');
                });
        })

        $('.delete_button ').on('click ', function() {
            flag = window.confirm("本当に削除してもよろしいでしょうか？")
            event.preventDefault();
            if (flag === true) {
                $.ajax({
                    url: '/delete ',
                    type: 'post ',
                    dataType: 'text ',
                    data: {
                        id: $(this).val(),
                    }
                })
            }
        })

        //input内でのEnter無効化
        $(function() {
            $(document).on("keypress", "input:not(.allow_submit)", function(event) {
                return event.which !== 13;
            });
        });

        var csrftoken = $('meta[name=csrf-token] ').attr('content ')

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })
    </script>
</body>

</html>